#!/bin/bash

OS_TOKEN={{ KEYSTONE_ADMIN_TOKEN }}
OS_URL="{{ KEYSTONE_PROTOCOL }}://{{ KEYSTONE_SERVER }}:{{ KEYSTONE_ADMIN_PORT }}/v2.0"

PUBLIC="{{ KEYSTONE_PROTOCOL }}://{{ KEYSTONE_SERVER }}:{{ KEYSTONE_PORT }}/v2.0"
ADMIN="{{ KEYSTONE_PROTOCOL }}://{{ KEYSTONE_SERVER }}:{{ KEYSTONE_ADMIN_PORT }}/v2.0"
INTERNAL="{{ KEYSTONE_PROTOCOL }}://{{ KEYSTONE_SERVER }}:{{ KEYSTONE_PORT }}/v2.0"

# create keystone service
openstack service create --os-token $OS_TOKEN --os-url $OS_URL --name "keystone" --description "OpenStack Identity" identity
# create keystone endpoint
openstack endpoint create --os-token $OS_TOKEN --os-url $OS_URL --region RegionOne --publicurl $PUBLIC --adminurl $ADMIN --internalurl $INTERNAL identity
